* {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}

.underline {
  border-bottom: 2px solid #b5bbcf;
}

.social__item:hover .underline {
  border-bottom: 2px solid #fe4e22;

}

html,
body {
  color: #fff;
  font-size: 30px;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color:#fff;
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(img/bg.jpg);
  background-size: cover;
  background-position-x: -550px;
}

.blur {
  min-height: 100vh;
  background: rgba(19, 20, 28, 0.8);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 47px 0;
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
}

.logo {
  width: 200px;
  padding-bottom: 90px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 30px;
  padding-bottom: 12px;
}

.sub-title {
  font-size: 18px;
}

.social {
  margin: 0 auto;
}

svg {
  width: 7vh;
  height: 7vh;
  fill: #b5bbcf;
}

svg:hover {
  fill: #fff;
}



.social__item {
  margin-right: 15px;
}

.social__item:last-child {
  margin-right: 0;
}

.support {
  margin-top: 30px;
  border-bottom: #b5bbcf 2px solid;
}

.support:hover {
  border-bottom: #fe4e22 2px solid;

}

@media (min-width: 576px) {

  .logo {
    width: 250px;
  }

  .title {
    font-size: 35px;
  }
  .sub-title {
    font-size: 25px;
  }
  .social {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    background-position-x: right;
  }
}

@media (min-width: 1200px) {
  .content-container {
    height: 45vh;
  }

  .logo {
    width: 300px;
  }

  .title {
    font-size: 40px;
  }

  .sub-title {
    font-size: 30px;
  }

  .social {
    font-size: 35px;
  }
  .support {
    margin-top: 40px;
  }
}